{% extends 'infoc.html' %}

{% block content %}

<style media="screen">
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }


  </style>

<form action="" method="post">

    <div class="container register-form">
        <div class="form">
          <div class="note">
            <p>Veuillez vous connecter</p>
          </div>
          <br>
          <div class="container" style="text-align: center;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
          </div>

            {% csrf_token %}
            <div class="form-content">
              <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Entrez le nom" name="username"><br><br>
                    <input type="password" class="form-control" placeholder="Entrez le mot de passe" name="password"><br><br>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                    <button class="btn btn-info"><a href="{%url 'urlregister' %}">Créer un compte</a></button>
                </div>
              </div>
            </div>
        </div>
    </div>

    
</form>





{% endblock %}